/* Contact Section */

#contact {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("../img/contact-mountain.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  background: rgba(19, 28, 39, 0.8);
  width: 60%;
  color: white;
  border-radius: 20px;

  label {
    margin: 0rem 3rem;
  }
  button {
    width: 100%;
    padding: 2rem;
    margin-top: 8rem;
    border-radius: 0px 0px 20px 20px;
  }
  input {
    padding: 1rem 3rem;
  }
}

.form-head {
  text-align: center;
  padding: 4rem;
}
.name-form,
.email-from {
  padding: 3rem;
  text-align: center;
}
