/* Footer Styles */

footer {
  background: rgba(19, 28, 39, 1);
  color: white;

  h3 {
    flex: 2 1 40rem;
  }
  ul {
    display: flex;
    list-style: none;
    flex: 1 1 40rem;
    align-items: center;
    justify-content: space-around;
  }
}
.footer-wrapper {
  display: flex;
  padding: 2rem;
  width: 90%;
  margin: auto;
  align-items: center;
  min-height: 10vh;
  flex-wrap: wrap;
}
