/* Nav bar and Hero Section */

.main-head {
  background: #131c27;
  color: white;

  nav {
    min-height: 10vh;
    display: flex;
    width: 90%;
    padding: 2rem;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;

    ul {
      display: flex;
      flex: 1 1 40rem;
      justify-content: space-around;
      align-items: center;
      list-style: none;
    }
  }
  #logo {
    flex: 2 1 40rem;
    font-family: "Pattaya", sans-serif;
    font-weight: normal;
  }
}

.hero {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("../img/landing-page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h3 {
    padding: 5rem;
  }
}
